body {
	padding:0;
	margin:0;
}

a, a:visited {
	text-decoration: none;
}

h1 {
	margin:0;
	padding:0;
	height: 90px;
	line-height: 90px;
	width:100%;
	border-bottom: #dedbdb;

}

nav {
	position:fixed;
	top: 0;
	left: 0;
	width: 90px;
	background-color: #ff0000;
	height: 100%;
	box-shadow: 3px 0 10px rgba(0,0,0,.5);
}

nav ul {
	list-style: none;
	padding:0;
	margin:0;
}

nav ul li {
	padding:0;
	margin:0;
}

nav ul li a {
	display:block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

nav ul li a:hover, nav ul li a.selected {
	background-color: #ff0000;
	color: #fff;
}

nav a {
	font-weight: bold;
}

nav a.login {
	position:absolute;
	bottom:0;
	display:block;
	text-align: center;
	font-size: 11px;
	width:100%;
	border-top: 1px solid #dedbdb;
	height: 50px;
	line-height:  50px;
}

section.content {
	position:relative;
	padding-left: 120px;
}

section.content .wrapper {
	padding-top: 20px;
}

.desktop-visible {
	display:block;
}

@media screen and (max-width:960px) {
	body{
		font-size:0.81255em
	}

	.desktop-visible {
		display:none;
	}
}