.mobile-title {
	text-align:center;
}
.mobile-title h3 {
	color:#fff;
	padding:0;
	margin:0;
	padding-top:10px;
	text-align:center;
}

#mobile-nav-bar {
	position:relative;
	height: 50px;
	background-color: #ff0000;
	box-shadow: 0 3px 7px rgba(0,0,0,.43);
	z-index:100;
}

#mobile-nav {
	z-index:99;
	position:relative;
	background: #ff0000;
}

#mobile-nav a {
	color:#fff;
	display:block;
	width:100%;
	height:100%;
	font-weight:bold;
	text-align: center;
}

#mobile-nav-bar .trigger {
	float:right;
	margin-top: 5px;
}

#mobile-nav-bar .btn-default {
	width:40px;
	padding:8px;
	min-width:40px;
}

#mobile-nav {
	display:none;
}

#mobile-nav .row:first-child {
	border-bottom:1px solid #fff;
}

#mobile-nav .row .col-md-6:first-child, #mobile-nav .row .col-sm-6:first-child, #mobile-nav .row .col-xs-6:first-child {
	border-right:1px solid #fff;
}

#desktop-nav {
	position:relative;
	width: 90px;
	background: #ff0000;
	height: 100%;
	box-shadow: 3px 0 10px rgba(0,0,0,.5);
}

#desktop-nav ul {
	position:absolute;
	left:0;
	width:100%;
	list-style: none;
	padding:0;
	margin:0;
	background: #ff0000;
}

#desktop-nav ul li {
	padding:0;
	margin:0;
	border-bottom: 1px solid #fff;
}

#desktop-nav ul li:first-child {
	height:92px;
}

#desktop-nav ul li a {
	display:block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

#desktop-nav ul li a:hover, #desktop-nav ul li a.selected {
	background-color: #ff0000;
	color: #fff;
}

#desktop-nav a {
	font-weight: bold;
}

#desktop-nav a.login {
	position:absolute;
	bottom:0;
	display:block;
	text-align: center;
	font-size: 11px;
	width:100%;
	border-top: 1px solid #dedbdb;
	height: 50px;
	line-height:  50px;
}

.pad-bottom {
	padding-bottom: 10px;
}

.pad-top {
	padding-top: 10px;
}

form textarea {
	min-height: 400px;
}

.notification {
	border-radius: 3px;
	padding:10px;
	text-align: center;
}

.corner-btn {
	position:absolute;
	top:22px;
	right:16px;
}

.margin-left {
	margin-left: 10px;
}

.margin-top-none {
	padding-top:0;
	margin-top:0;
}

.login-form {
	display:block;
	margin:auto;
	max-width:400px;
	border: 1px solid #ccc;
	padding:25px;
	padding-bottom: 40px;
	margin-top: 30%;
}

/* --------------------------------------------------
bootstrap overrides
-------------------------------------------------- */
.btn {
	min-width: 80px;
}

.btn-group-small .btn {
	min-width: 0;
	width: 38px;
}